<div class="layout-container">
  <mat-toolbar>
    <div class="logo">
      <div class="logo-icon">
        <mat-icon>psychology</mat-icon>
      </div>
      <span class="logo-text">EvalTech IA</span>
    </div>
    <span class="flex-1"></span>
    <span class="user-name">{{ authService.nombreCompleto() }}</span>
    <button mat-icon-button (click)="logout()" matTooltip="Cerrar sesión" class="logout-btn">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened mode="side">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="mis-evaluaciones" routerLinkActive="active-link">
          <mat-icon matListItemIcon>assignment</mat-icon>
          <span matListItemTitle>Mis Evaluaciones</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
